certifi==2024.8.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
dbus-python==1.2.4
distlib==0.3.8
docopt==0.6.2
filelock==3.4.1
Flask==2.0.3
Flask-Login==0.5.0
Flask-MySQLdb==1.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
gpg==1.13.1
greenlet==2.0.2
idna==3.10
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
libcomps==0.1.18
MarkupSafe==2.0.1
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.32
mysqlclient==2.1.1
numpy==1.19.5
pandas==1.1.5
pipreqs==0.4.11
platformdirs==2.4.0
protobuf==3.19.6
PyGObject==3.28.3
python-dateutil==2.9.0.post0
pytz==2024.2
pyudev==0.21.0
requests==2.27.1
rpm==4.14.3
six==1.11.0
SQLAlchemy==1.4.54
systemd-python==234
typing_extensions==4.1.1
urllib3==1.26.20
virtualenv==20.17.1
Werkzeug==2.0.3
WTForms==3.0.0
XlsxWriter==3.2.0
yarg==0.1.10
zipp==3.6.0
